.content{
    text-align: center;
    color:white;
    background-color: #2e2e2e;
    padding-top: 6%;
    padding-bottom: 6%;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: 700;

}